.Rproj.user
.Rhistory
.RData
.Ruserdata
MAGNET_GeneExpressionData_CPM_19112020.txt
MAGNET_exonLengths.txt
MAGNET_SampleData_19112020.txt
expTOM-block.3.RData
expTOM-block.2.RData
CytoscapeInput-edges-red.txt
CytoscapeInput-nodes-red.txt
expTOM-block.1.RData
network-reconstruction.RData
test_data.txt
WGCNA-input.RData
WGCNA-net.RData
WGCNA-sft.RData
test_data.txt
